body {
    margin: 0;
    overflow-x: hidden;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0px;
  }
  
  h1 {
    font-family: 'Baloo 2';
    font-weight: 900;
    font-size: 30px;
    color: #5F0051;
    text-align: center;
    border-bottom: 12px solid rgba(254, 134, 239, 0.8); 
    margin-bottom: 50px;
  }

  h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*socials*/
  .social-icon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    width: 35px; 
    height: 35px; 
    background-color: #5F0051;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 1s ease;  
  }
  
  header .socials-group1 {
    margin-left: -20px;
    margin-right: 10px; 
  }
  
  .social-icon i {
    font-size: 16px; 
    color: #FE86EF;
  }
  
  .social-icon:hover {
    background-color: #FE86EF; 
  }
  
  .social-icon:hover i {
    color: #5F0051; 
  }
  
  /*header*/
  header, .main-menu, .socials-group1, .socials-group2 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px;
  }
  
  .main-menu li {
    cursor: pointer;
    font-family: 'Baloo 2';
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -1px;
    margin-right: 30px;
    color: #5F0051;
  }
  
  .main-menu li a {
    color: inherit;
    text-decoration: none;
  }
  
  .header-logo {
    width: 200px;
    height: auto;
  }
  
  .main-menu li a {
    position: relative; 
    text-decoration: none; 
  }
  
  .main-menu li a::before {
    content: ''; 
    position: absolute; 
    bottom: 5px; 
    left: 0; 
    width: 100%; 
    height: 10px; 
    background-color: rgba(254, 134, 239, 0.8);
    z-index: -1;
    transition: width 0.3s ease; 
  }
  
  .main-menu li a:hover::before {
    width: 0; 
  }

  .main-menu li .header-logo-link::before {
    text-decoration: none;
    content: none; 
    background-color: transparent;
  }

  .mobile-menu {
    display: none; 
  }
  
  .mobile-menu .menu-wrapper {
    display: none;
  }
  
  /*mobile menu*/
  @media only screen and (max-width: 840px) {
    .mobile-menu {
      display: flex; 
    }
  
    .main-menu, .socials-group1, .socials-group2 {
      display: none;
    }
  
    .mobile-menu.show-menu .menu-wrapper {
      display: block;
    }
  
    .header-container {
      position: relative;
    }
  
    .header-logo {
      width: 150px;
      height: auto;
    }
  
    .menu-toggle {
      position: absolute;
      top: 20px; 
      right: -50px; 
    }
  
    .menu-toggle .fas.fa-bars {
      font-size: 26px;
      color: #FE86EF;
    }
    
    .menu-toggle:hover .fas.fa-bars {
      color: #5F0051;
    }
  
    .menu-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: #5F0051;
      justify-content: center;
      z-index: 1;
    }
  
    .menu {
      display: flex;
      flex-direction: column; 
    }
  
    .menu li {
      font-family: 'baloo 2';
      font-weight: 600;
      font-size: 34px;
      color: #FE86EF;
      padding: 5px;
      list-style-type: none;
      transition: opacity 0.5s;
    }
  
    .menu li a {
      text-decoration: none;
      color: #FE86EF;
    }
  
    .menu li a:hover {
      font-style: italic; 
    }
  
  }

  /*our games*/
  .splide {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    max-width: 800px;
    margin-bottom: 100px;
  }

  #image-carousel-1 {
    max-width: fit-content;
  }

  .splide__slide {
    margin: 0;
    padding: 0;
    width: auto; 
    padding: 10px;
  }
  
  .splide__slide img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /*socials*/
  .socials-group1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .social-icon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    width: 35px; 
    height: 35px; 
    background-color: #5F0051;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 1s ease;  
  }
  
  .social-icon i {
    font-size: 16px; 
    color: #FE86EF;
  }
  
  .social-icon:hover {
    background-color: #FE86EF; 
  }
  
  .social-icon:hover i {
    color: #5F0051; 
  }

@media only screen and (max-width: 840px) {
    .mobile-menu {
      display: flex; 
    }
  
    .main-menu, header .socials-group1, .socials-group2 {
      display: none;
    }

    }

  /* footer */
footer {
    margin: 0;
    background-color: #5F0051;
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box;
  }
  
  .footer-section {
    display: flex;
    flex-direction: row;
  }
  
  h2, h3 {
    color: #FE86EF;
    font-family: 'Baloo 2';
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .footer-list li, 
  .footer-list li a {
    color: #FE86EF;
    font-family: 'Baloo 2';
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
  }
  
  .footer-list li:hover, 
  .footer-list a:hover {
    text-decoration: none;
    font-style: italic;
  }
  
  footer .socials-group2 .social-icon {
    background-color: #FE86EF;
  }
  
  footer .socials-group2 .social-icon i {
    font-size: 20px;
    color: #5F0051;
  }
  
  footer .socials-group2 .social-icon:hover {
    background-color: #5F0051;
  }
  
  footer .socials-group2 .social-icon i:hover {
    color: #FE86EF;
  }
  
  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #FE86EF;
    font-family: 'Baloo 2';
    font-size: 20px;
    margin-top: -20px;
  }
  
  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #FE86EF;
    font-family: 'Baloo 2';
    font-size: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-section {
      display: flex;
      flex-direction: column;
    }
  
    .footer-sub-header {
      margin-left: 0;
    }
  
    .footer-section-socials {
      margin-left: -40px;
    }
  
    .footer-copyright {
      text-align: center;
    }
  }

  .to-top {
    background: #f6f5f4;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    }
    
    .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
    }
